/* Start Main Rulez*/
body{
    background-color: #f4f4f4;
}

/* End Main Rulez*/


/* Start Login Form*/

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #777;
}

.login input{
    margin-bottom: 10px;
}


.login .form-control{
    background-color: #EAEAEA;
}
.login .btn{
    background-color: #008dde
}


/* End Login Form*/

.danger-bold{
	font-size: 20px;
}



/* Start Member Page */

h1{
	font-size: 55px;
	margin: 40px 0 ;
	font-weight: bold;
	color: #666;
}

/* End Member Page*/